//Typography
.proxima-nova-regular {
  font-family: $proxima-nova;
  font-weight:400;
}

.proxima-nova-bold {
  font-family: $proxima-nova;
  font-weight: 700;
}

.proxima-nova-extra-bold {
  font-family: $proxima-nova;
  font-weight: 800;
}